# =========================
# Arquivos do IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Arquivos do Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# Sistema Operacional
# =========================
# macOS
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Logs e temporários
# =========================
*.log
*.tmp

# =========================
# Docker
# =========================
# (Se não quiser versionar arquivos de build temporários)
.docker/*.log
